In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import datasist as ds

%matplotlib inline
sns.set(rc={'figure.figsize': [10, 10]}, font_scale=1.2)

In [2]:
df = pd.read_csv('data.csv')
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
df.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [5]:
df['credit.policy'].value_counts()

1    7710
0    1868
Name: credit.policy, dtype: int64

In [6]:
df['purpose'].value_counts()

debt_consolidation    3957
all_other             2331
credit_card           1262
home_improvement       629
small_business         619
major_purchase         437
educational            343
Name: purpose, dtype: int64

In [7]:
df['pub.rec'].value_counts()

0    9019
1     533
2      19
3       5
5       1
4       1
Name: pub.rec, dtype: int64

In [ ]:
sns.pairplot(df)

In [ ]:
sns.distplot(df['installment'], kde=False, color='m')

In [ ]:
sns.kdeplot(df['installment'], shade=True, color='m')

In [ ]:
sns.distplot(df['log.annual.inc'], kde=False, color='m')

In [ ]:
sns.kdeplot(df['int.rate'], shade=True, color='m')

In [ ]:
sns.countplot(y='purpose', data=df, palette='viridis')

In [ ]:
sns.countplot(y='purpose', data=df, palette='viridis', hue='not.fully.paid')

In [ ]:
sns.boxplot(y='purpose', x='log.annual.inc', hue='not.fully.paid', data=df)

In [ ]:
sns.boxplot(y='fico', x='not.fully.paid', data=df)

In [8]:
df.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [9]:
checked_cols = ['int.rate', 'installment', 'log.annual.inc',
       'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'pub.rec']
outliers = ds.structdata.detect_outliers(df, 0, checked_cols)
outliers

[2945,
 3713,
 3991,
 4064,
 4731,
 4761,
 5093,
 5274,
 5336,
 5363,
 5540,
 5679,
 5839,
 5868,
 6172,
 6202,
 6432,
 6467,
 6517,
 7313,
 7361,
 8931,
 8994,
 9008,
 9042,
 9049,
 9054,
 9063,
 9145,
 9155,
 9180,
 9196,
 9202,
 9208,
 9248,
 9263,
 9281,
 9286,
 9288,
 9309,
 9328,
 9337,
 9346,
 9372,
 9409,
 9459,
 9476,
 9531,
 9549,
 9566,
 9568,
 160,
 237,
 249,
 271,
 275,
 322,
 399,
 405,
 521,
 636,
 670,
 702,
 794,
 810,
 837,
 1380,
 1385,
 1474,
 1509,
 1565,
 1585,
 1674,
 1683,
 1766,
 1786,
 2122,
 2152,
 2340,
 2382,
 2517,
 2594,
 2641,
 2694,
 2730,
 2781,
 2851,
 3028,
 3079,
 3136,
 3349,
 3397,
 3431,
 3444,
 3456,
 3572,
 3655,
 3699,
 3716,
 3736,
 3788,
 3789,
 3865,
 3887,
 4019,
 4094,
 4100,
 4668,
 4756,
 4869,
 4888,
 4903,
 4909,
 4911,
 4925,
 4926,
 4929,
 4962,
 4988,
 5095,
 5100,
 5115,
 5170,
 5186,
 5224,
 5225,
 5239,
 5255,
 5258,
 5292,
 5293,
 5309,
 5345,
 5373,
 5420,
 5432,
 5479,
 5499,
 5516,
 5596,
 5598,
 5620,
 5674,
 5686,
 5811,
 5854,
 5888,
 5889,
 5896,
 5899,
 5971,
 6011,
 6080,
 6101,
 6107,
 6146,
 6181,
 6204,
 6224,
 6228,
 6243,
 6328,
 6360,
 6418,
 6452,
 6476,
 6501,
 6505,
 6627,
 6640,
 6648,
 6659,
 6681,
 6687,
 6721,
 6742,
 6754,
 6771,
 6777,
 6799,
 6821,
 6828,
 6848,
 6920,
 6927,
 6929,
 6945,
 6949,
 6969,
 7016,
 7019,
 7026,
 7040,
 7052,
 7161,
 7163,
 7164,
 7171,
 7228,
 7239,
 7263,
 7278,
 7321,
 7342,
 7345,
 7348,
 7353,
 7366,
 7371,
 7400,
 7418,
 7422,
 7424,
 7470,
 7510,
 7572,
 7604,
 7608,
 7614,
 7687,
 7708,
 7709,
 7893,
 7921,
 7953,
 7963,
 7987,
 8014,
 8034,
 8070,
 8247,
 8262,
 8275,
 8283,
 8400,
 8450,
 8837,
 8841,
 8842,
 8845,
 8846,
 8857,
 8860,
 8933,
 9023,
 9032,
 9067,
 9073,
 9132,
 9158,
 9168,
 9184,
 9195,
 9279,
 9280,
 9297,
 9305,
 9312,
 9334,
 9343,
 9347,
 9348,
 9350,
 9363,
 9366,
 9373,
 9379,
 9380,
 9393,
 9404,
 9410,
 9420,
 9495,
 9510,
 9524,
 9527,
 9533,
 9539,
 9554,
 9577,
 25,
 46,
 130,
 132,
 134,
 165,
 187,
 193,
 263,
 289,
 304,
 312,
 383,
 411,
 479,
 543,
 644,
 653,
 832,
 893,
 1050,
 1085,
 1114,
 1420,
 1582,
 1654,
 1701,
 1719,
 1782,
 1859,
 1898,
 1955,
 1968,
 2113,
 2185,
 2197,
 2212,
 2277,
 2383,
 2660,
 2722,
 2768,
 2844,
 2871,
 2961,
 3017,
 3032,
 3046,
 3122,
 3172,
 3249,
 3273,
 3350,
 3607,
 3646,
 3680,
 3720,
 3818,
 3908,
 3979,
 4129,
 4136,
 4197,
 4280,
 4292,
 4301,
 4329,
 4482,
 4523,
 4737,
 4887,
 5039,
 5098,
 5106,
 5111,
 5181,
 5210,
 5245,
 5270,
 5320,
 5323,
 5436,
 5443,
 5493,
 5521,
 5584,
 5673,
 5715,
 5780,
 5791,
 5819,
 5827,
 5864,
 5881,
 5975,
 6002,
 6100,
 6257,
 6287,
 6318,
 6352,
 6371,
 6398,
 6531,
 6541,
 6566,
 6570,
 6572,
 6623,
 6633,
 6653,
 6670,
 6712,
 6730,
 6841,
 6842,
 7023,
 7066,
 7106,
 7135,
 7146,
 7311,
 7457,
 7494,
 7564,
 7588,
 7652,
 7682,
 7704,
 7732,
 7737,
 7746,
 7749,
 7759,
 7760,
 7761,
 7771,
 7777,
 7781,
 7785,
 7786,
 7798,
 7799,
 7800,
 7803,
 7811,
 7822,
 7824,
 7825,
 7826,
 7872,
 7897,
 7907,
 7933,
 7956,
 7974,
 7977,
 7988,
 8020,
 8049,
 8053,
 8054,
 8065,
 8077,
 8086,
 8111,
 8134,
 8167,
 8171,
 8235,
 8284,
 8340,
 8352,
 8363,
 8415,
 8438,
 8460,
 8483,
 8559,
 8644,
 8678,
 8765,
 8813,
 8833,
 8852,
 8865,
 8886,
 8895,
 8898,
 8950,
 8965,
 8975,
 9011,
 9018,
 9050,
 9090,
 9107,
 9134,
 9183,
 9229,
 9273,
 9299,
 9306,
 9307,
 9369,
 9400,
 9407,
 9462,
 9535,
 9536,
 9569,
 154,
 1477,
 1613,
 1883,
 2476,
 2495,
 21,
 55,
 92,
 96,
 113,
 144,
 169,
 178,
 192,
 203,
 225,
 227,
 267,
 286,
 370,
 433,
 475,
 476,
 502,
 632,
 672,
 673,
 681,
 764,
 851,
 890,
 919,
 939,
 955,
 957,
 962,
 991,
 997,
 1046,
 1083,
 1092,
 1138,
 1153,
 1216,
 1223,
 1265,
 1317,
 1330,
 1378,
 1379,
 1534,
 1537,
 1597,
 1600,
 1679,
 1685,
 1687,
 1799,
 1806,
 1811,
 1815,
 1918,
 1937,
 1961,
 1964,
 1976,
 2017,
 2073,
 2081,
 2103,
 2127,
 2229,
 2233,
 2236,
 2255,
 2260,
 2317,
 2334,
 2341,
 2435,
 2460,
 2506,
 2518,
 2573,
 2610,
 2653,
 2663,
 2695,
 2711,
 2714,
 2743,
 2744,
 2799,
 2803,
 2807,
 2812,
 2864,
 2885,
 2887,
 2906,
 2928,
 2947,
 2989,
 2993,
 3010,
 3117,
 3139,
 3163,
 3175,
 3188,
 3197,
 3228,
 3258,
 3326,
 3389,
 3398,
 3409,
 3423,
 3457,
 3459,
 3476,
 3496,
 3509,
 3514,
 3539,
 3545,
 3551,
 3566,
 3579,
 3708,
 3729,
 3765,
 3781,
 3800,
 3878,
 3885,
 3896,
 3936,
 3967,
 3977,
 4041,
 4046,
 4089,
 4120,
 4251,
 4322,
 4326,
 4335,
 4373,
 4390,
 4396,
 4452,
 4468,
 4474,
 4492,
 4530,
 4562,
 4573,
 4580,
 4604,
 4675,
 4700,
 4778,
 4823,
 4832,
 4855,
 4865,
 4904,
 4907,
 4919,
 4952,
 4996,
 5012,
 5018,
 5075,
 5117,
 5157,
 5191,
 5211,
 5260,
 5299,
 5301,
 5310,
 5316,
 5319,
 5332,
 5342,
 5348,
 5456,
 5470,
 5483,
 5518,
 5560,
 5562,
 5664,
 5666,
 5747,
 5766,
 5795,
 5801,
 5816,
 5855,
 5857,
 5860,
 5870,
 5877,
 5880,
 5956,
 5965,
 6014,
 6078,
 6220,
 6231,
 6276,
 6282,
 6283,
 6288,
 6312,
 6316,
 6319,
 6408,
 6416,
 6434,
 6480,
 6491,
 6496,
 6533,
 6540,
 6544,
 6568,
 6585,
 6590,
 6599,
 6607,
 6645,
 6690,
 6703,
 6719,
 6768,
 6775,
 6781,
 6798,
 6814,
 6835,
 6838,
 6849,
 6880,
 6884,
 6911,
 6943,
 6960,
 6977,
 6991,
 7009,
 7056,
 7067,
 7187,
 7199,
 7303,
 7391,
 7441,
 7492,
 7497,
 7528,
 7553,
 7554,
 7560,
 7601,
 7607,
 7610,
 7668,
 7853,
 7920,
 8013,
 8163,
 8185,
 8189,
 8193,
 8231,
 8308,
 8310,
 8354,
 8430,
 8495,
 8502,
 8503,
 8518,
 8531,
 8602,
 8662,
 8663,
 8670,
 8744,
 8830,
 8844,
 8861,
 8870,
 8871,
 8884,
 8894,
 8932,
 9006,
 9053,
 9085,
 9126,
 9149,
 9156,
 9174,
 9191,
 9210,
 9220,
 9231,
 9239,
 9277,
 9294,
 9296,
 9336,
 9370,
 9386,
 9419,
 9421,
 9458,
 9491,
 9540,
 9573,
 5,
 8,
 29,
 34,
 39,
 40,
 57,
 58,
 73,
 99,
 109,
 146,
 148,
 155,
 164,
 191,
 198,
 259,
 306,
 316,
 342,
 393,
 403,
 407,
 425,
 426,
 432,
 448,
 472,
 507,
 517,
 523,
 549,
 565,
 577,
 578,
 719,
 759,
 769,
 777,
 784,
 799,
 801,
 802,
 820,
 835,
 863,
 896,
 897,
 912,
 963,
 971,
 980,
 985,
 992,
 993,
 998,
 1006,
 1057,
 1061,
 1084,
 1099,
 1100,
 1106,
 1122,
 1149,
 1183,
 1212,
 1256,
 1260,
 1304,
 1305,
 1316,
 1335,
 1362,
 1364,
 1372,
 1423,
 1432,
 1435,
 1439,
 1443,
 1488,
 1515,
 1541,
 1551,
 1561,
 1579,
 1590,
 1594,
 1605,
 1607,
 1608,
 1621,
 1633,
 1639,
 1675,
 1686,
 1714,
 1716,
 1721,
 1727,
 1739,
 1752,
 1755,
 1764,
 1774,
 1784,
 1834,
 1856,
 1865,
 1890,
 1893,
 1910,
 1911,
 1919,
 1921,
 1922,
 1939,
 1960,
 1966,
 1972,
 1977,
 2020,
 2034,
 2051,
 2060,
 2072,
 2096,
 2099,
 2115,
 2123,
 2158,
 2193,
 2330,
 2381,
 2421,
 2434,
 2437,
 2438,
 2439,
 2468,
 2469,
 2478,
 2480,
 2490,
 2569,
 2654,
 2661,
 2673,
 2676,
 2729,
 2745,
 2747,
 2749,
 2751,
 2753,
 2772,
 2777,
 2804,
 2832,
 2846,
 2883,
 2920,
 2991,
 3003,
 3008,
 3036,
 3044,
 3062,
 3073,
 3088,
 3089,
 3101,
 3155,
 3190,
 3224,
 3236,
 3251,
 3259,
 3267,
 3269,
 3284,
 ...]

In [10]:
df[df.index.isin(outliers)]

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
5,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0,0
6,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0,0,1,1
8,1,home_improvement,0.1134,87.19,11.407565,17.25,682,3989.000000,69909,51.1,1,0,0,0
10,1,debt_consolidation,0.1347,360.43,10.434116,22.09,677,6713.041667,13846,71.0,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9571,0,all_other,0.1568,161.01,11.225243,8.00,677,7230.000000,6909,29.2,4,0,1,1
9572,0,debt_consolidation,0.1565,69.98,10.110472,7.02,662,8190.041667,2999,39.5,6,0,0,1
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [ ]:
# for col in checked_cols:
#     df.loc[df.index.isin(outliers), col] = df[col].median()

In [ ]:
# df[df.index.isin(outliers)]

In [11]:
no_outlier_df = df[~df.index.isin(outliers)]
no_outlier_df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
7,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9563,0,debt_consolidation,0.1099,556.50,11.225243,17.84,727,6840.041667,18753,29.0,4,0,0,1
9567,0,all_other,0.1311,101.24,10.968198,8.23,687,2790.041667,1514,13.8,5,0,0,0
9570,0,all_other,0.1671,113.63,10.645425,28.06,672,3210.041667,25759,63.8,5,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1

In [12]:
no_outlier_df = pd.get_dummies(no_outlier_df, columns=['purpose'], drop_first=True)
no_outlier_df

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
7,1,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9563,0,0.1099,556.50,11.225243,17.84,727,6840.041667,18753,29.0,4,0,0,1,0,1,0,0,0,0
9567,0,0.1311,101.24,10.968198,8.23,687,2790.041667,1514,13.8,5,0,0,0,0,0,0,0,0,0
9570,0,0.1671,113.63,10.645425,28.06,672,3210.041667,25759,63.8,5,0,0,1,0,0,0,0,0,0
9574,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1,0,0,0,0,0,0
9576,0,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1,0,0,0,1,0,0

In [13]:
df['not.fully.paid'].value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
x = no_outlier_df.drop('not.fully.paid', axis=1)
y = no_outlier_df['not.fully.paid']

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=22)

In [18]:
from imblearn.over_sampling import SMOTE

In [19]:
sm = SMOTE(random_state=22)
x_train, y_train = sm.fit_sample(x_train, y_train)

In [20]:
y_train.value_counts()

1    4466
0    4466
Name: not.fully.paid, dtype: int64

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(x_train)

StandardScaler()

In [23]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [24]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [25]:
model.fit(x_train, y_train)

LogisticRegression()

In [28]:
y_pred = model.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [29]:
accuracy_score(y_test, y_pred)

0.7043343653250774

In [30]:
confusion_matrix(y_test, y_pred)

array([[852, 276],
       [106,  58]], dtype=int64)

In [44]:
from sklearn.svm import SVC

model = SVC()

In [45]:
model.fit(x_train, y_train)

SVC()

In [46]:
y_pred = model.predict(x_test)

In [47]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [48]:
accuracy_score(y_test, y_pred)

0.7546439628482973

In [49]:
confusion_matrix(y_test, y_pred)

array([[935, 193],
       [124,  40]], dtype=int64)

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [83]:
model = RandomForestClassifier(n_estimators=500)

In [84]:
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500)

In [85]:
y_pred = model.predict(x_test)

In [86]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [87]:
accuracy_score(y_test, y_pred)

0.8003095975232198

In [88]:
confusion_matrix(y_test, y_pred)

array([[1008,  120],
       [ 138,   26]], dtype=int64)

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [59]:
model = DecisionTreeClassifier()

In [60]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [61]:
y_pred = model.predict(x_test)

In [62]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [63]:
accuracy_score(y_test, y_pred)

0.7159442724458205

In [64]:
confusion_matrix(y_test, y_pred)

array([[883, 245],
       [122,  42]], dtype=int64)

In [140]:
from xgboost import XGBClassifier

In [141]:
model = XGBClassifier(n_estimators=700)

In [142]:
model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=700, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [143]:
y_pred = model.predict(x_test)

In [144]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [145]:
accuracy_score(y_test, y_pred)

0.8243034055727554

In [146]:
confusion_matrix(y_test, y_pred)

array([[1051,   77],
       [ 150,   14]], dtype=int64)

In [128]:
from sklearn.neighbors import KNeighborsClassifier

In [134]:
model = KNeighborsClassifier(n_neighbors=15)

In [135]:
model.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=15)

In [136]:
y_pred = model.predict(x_test)

In [137]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [138]:
accuracy_score(y_test, y_pred)

0.6857585139318886

In [139]:
confusion_matrix(y_test, y_pred)

array([[828, 300],
       [106,  58]], dtype=int64)

In [149]:
from sklearn.feature_selection import f_classif, chi2, mutual_info_classif
from sklearn.feature_selection import SelectKBest

In [150]:
selector = SelectKBest(k=10, score_func=f_classif)

In [151]:
selector.fit(x_train, y_train)

C:\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:115: UserWarning: Features [10 11] are constant.
  UserWarning)
C:\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

SelectKBest()

In [152]:
selector.get_support(indices=True)

array([ 0,  1,  3,  5,  8, 12, 13, 15, 16, 17], dtype=int64)

In [154]:
x.columns[selector.get_support(indices=True)]

Index(['credit.policy', 'int.rate', 'log.annual.inc', 'fico', 'revol.util',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_home_improvement', 'purpose_major_purchase',
       'purpose_small_business'],
      dtype='object')